*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	overflow-x: hidden;
}

body{
	display: flex;
	flex-direction: column;
	font-family: Roboto;
}

.container{
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 20px;
}


.block{
	&__row{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}
	&__item{
		position: relative;
		height: 150px;
		display: flex;
		align-items: flex-end;
		flex: 1 0 auto;
		margin: 15px 10px;
		padding: 20px;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 100%;
			z-index: -1;
			animation: numBg 5s ease forwards;
		}
		&:nth-child(1){
			&::before{
				background-color: #CE82B5;
			}
		}
		&:nth-child(2){
			&::before{
				background-color: #ED4D38;
			}
		}
		&:nth-child(3){
			&::before{
				background-color: #F1B82F;
			}
		}
		&:nth-child(4){
			&::before{
				background-color: #0EC3F5;
			}
		}
		&:nth-child(5){
			&::before{
				background-color: #43AEE7;
			}
		}
		&:nth-child(6){
			&::before{
				background-color: #EF7F1A;
			}
		}
	}
	
	@keyframes numBg {
		from{
			width: 0;
		}
		to{
			width: 100%;
		}
	}

	&__num{
		margin-right: 20px;
		font-size: 120px;
		line-height: 0.8;
		color: #fff;
	}
	&__text{
		font-size: 24px;
		opacity: 0;
		animation: textOpacity 2s 3s ease forwards;
	}

	@keyframes textOpacity {
		from{
			opacity: 0;
		}
		to{
			opacity: 1;
		}
	}

}